# --------------------------
# Documentation / aide
# --------------------------
HELP.md

# --------------------------
# Maven / Gradle
# --------------------------
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# --------------------------
# Spring Boot / logs
# --------------------------
*.log
*.jar
*.war
*.ear

# --------------------------
# Fichiers de configuration locaux / sensibles
# --------------------------
application.properties
application.yml
application-*.properties
application-*.yml
.env

# --------------------------
# IDEs
# --------------------------
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# --------------------------
# Système
# --------------------------
.DS_Store
Thumbs.db

# --------------------------
# Node.js / front-end
# --------------------------
node_modules/
.DS_Store
